* {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(70, 70, 70);
}
h2 {
  font-size: 20;
  color: white;
}

#SearchForm {
  position: relative;
  align-self: center;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.footer {
  background-color: rgb(39, 38, 38);
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github-logo {
  height: 100px;
  width: 100px;
  position: relative;
  align-self: center;
}
.footer-copyright {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  position: relative;
  align-self: center;
}
.footer-contact {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  position: relative;
  align-self: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 8vh;
  background-color: rgb(39, 38, 38);
  line-height: 27px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 10px 10px 5px rgb(31, 31, 31, 0.15);
}

.star {
  color: rgb(255, 222, 73);
  word-break: keep-all;
  font-size: 20px;
}

.logo {
  text-transform: uppercase;
  font-size: 20px;
}

.player-head {
  width: 50px;
  height: 50px;
}

.box {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  align-self: center;
}

.box h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  min-width: 300px;
  max-height: 100px;
}

.box h2 {
  color: white;
  font-weight: 500;
  display: flex;
  margin-bottom: 10px;
}

.box input[type="text"] {
  background: white;
  width: 340px;
  height: 50px;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 0 25px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

#enter {
  font-size: 15px;
  position: relative;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(22, 136, 22);
  color: white;
}

.home-stat-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50px;
}

.home-stat-card {
  background-color: rgb(39, 38, 38);
  color: white;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}
#enter:hover {
  background-color: rgb(228, 78, 78);
}

.infoWrapper {
  position: relative;
  top: 35px;
  align-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  border-radius: 7px;
}

.infoName {
  font-size: 30px;
  background-color: rgb(39, 38, 38);
  color: white;
  width: 80%;
  max-height: none;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  padding: 3px 0px 6px 0px;
}

.infoOverallStats {
  line-height: 2em;
  background-color: rgb(51, 51, 51);
  width: 80%;
  min-height: 60px;
  max-height: none;
  padding: 5px 0px;
  display: inline-block;
  justify-content: space-around;
  border-radius: 3px;
  flex-wrap: wrap;
}

.overall-ul li {
  display: inline-block;
  margin: 0px 15px;
}

.overallStat {
  font-size: 15px;
  height: 20px;
  color: rgb(219, 219, 219);
  margin-top: 0px;
}

.oStatValue {
  font-size: 25px;
  color: white;
}

.oStatBlock {
  margin: 0px 10px 0px 10px;
}

.tabContainer {
  width: 80%;
  height: 350px;
  text-align: center;
  background-color: rgb(58, 58, 58);
  color: white;
}

.tabContainer .buttonContainer {
  height: 15%;
  background-color: rgb(70, 70, 70);
}

.tabContainer .buttonContainer button {
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(58, 58, 58);
  color: white;
}

.tabContainer .buttonContainer button:hover {
  background-color: rgb(63, 62, 62);
}

.tabContainer .tabPanel {
  height: 900px;
  background-color: rgb(58, 58, 58);
  color: white;

  display: flex;
}

.error-text {
  color: rgb(230, 0, 0);
  word-spacing: 2px;
  line-height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  top: -45px;
  height: 300px;
  margin: 100px auto 0;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 90%;
  background: rgb(41, 41, 41);
  cursor: pointer;
  font-size: 15px;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: white;
}

.active-tabs {
  background: rgb(51, 51, 51);
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(0, 230, 0);
}

button {
  border: none;
}

.content {
  background: rgb(51, 51, 51);
  padding: 20px;
  height: 100%;
  display: none;
  color: white;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
  color: white;
}
.active-content {
  display: block;
  color: white;
}

.stat-cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stat-card {
  background-color: rgb(43, 43, 43);
  width: 45%;
  height: 300px;
  text-align: center;
  border-radius: 5px;
  margin: 13px 0px;
}

.stat-card-info {
  display: flex;
  justify-content: space-evenly;
}

.stat-card-ul {
  list-style: none;
  line-height: 50px;
}

.stat-card-header {
  font-size: 15px;
}
.stat-card-value {
  margin: -30px 0px -8px 0px;
  font-size: 25px;
}

h3 {
  background-color: rgb(36, 36, 36);
  padding: 5px;
}

.coins-exp-item {
  margin: 0px 30px 0px 5px;
  font-size: 15px;
  word-break: keep-all;
}

.coming-soon {
  margin: 10px 0px 0px 5px;
  font-size: 15px;
  position: relative;
  word-break: keep-all;
  align-self: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
}

.coins-exp {
  padding: 5px 0px 5px 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(36, 36, 36);
  width: 100%;
  margin: 0px 2.5vw;
  border-radius: 10px;
}

.pie-graph-card {
  width: 30%;
  height: 50vh;
  background-color: rgb(43, 43, 43);
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.bar-graph-card {
  height: 50vh;
  width: 45%;
  background-color: rgb(43, 43, 43);
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  padding-bottom: 50px;
}
.radar-graph-card {
  height: 75vh;
  width: 95%;
  background-color: rgb(43, 43, 43);
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  padding-bottom: 50px;
}

#chart-header {
  font-size: 15px;
  word-break: keep-all;
}

.stat-card-title {
  font-size: 20px;
  background-color: rgb(36, 36, 36);
  padding: 5px;
}

@media screen and (max-width: 1025px) {
  .oStatBlock {
    margin: 0px 11px 0px 11px;
  }
  .bar-graph-card {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .stat-card {
    width: 90%;
  }
  .bar-graph-card {
    width: 90%;
  }
  .radar-graph-card {
    height: 50vh;
  }

  .overall-ul li {
    margin: 0px 10px;
  }

  .coming-soon {
    font-size: 10px;
  }
}

@media screen and (max-width: 580px) {
  .stat-card-title {
    font-size: 15px;
    background-color: rgb(36, 36, 36);
    padding: 5px;
  }
  .overall-ul li {
    line-height: 25px;
  }
  .overall-ul {
    margin-top: 0px;
  }
  #enter {
    height: 40px;
    width: 80px;
  }
  .box input[type="text"] {
    width: 175px;
    height: 40px;
  }
  .stat-card-ul {
    line-height: 46px;
  }
  .home-stat-card {
    font-size: 10px;
  }
  .coins-exp-item {
    font-size: 10px;
  }
  .bar-graph-card {
    height: 30vh;
  }
  .radar-graph-card {
    height: 30vh;
  }
  #chart-header {
    font-size: 12px;
  }
  .oStatBlock {
    width: 12vh;
  }
  .stat-card {
    height: 245px;
  }

  .infoName {
    font-size: 20px;
  }
  .stat-card-header {
    font-size: 9px;
  }
  .stat-card-value {
    font-size: 19px;
    margin-bottom: -15px;
  }

  .h3 {
    font-size: 9px;
  }
  .logo {
    text-transform: uppercase;
    font-size: 15px;
  }

  .overallStat {
    font-size: 10px;
    height: 27px;
    color: rgb(219, 219, 219);
  }
  .oStatValue {
    margin: -7px 0px;
    font-size: 20px;
    color: white;
  }

  .oStatBlock {
    margin-bottom: -20px;
  }

  .error-text {
    font-size: 12px;
  }
}
