@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body {
  margin: 0;
  
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
